.header{
    background-color: rgb(79, 165, 219);
    position:fixed;
    width: 100%;
   z-index: 1;
}
.name{
    padding-left:1em;
     
}.collapse{
   padding-left:20em;
}.navbar-toggler{
    margin-left: auto;
}.cola{
    margin-left: auto;
}.sec1{background-color: rgb(224, 237, 234);
    padding: 2em;
}.sec1conainer{
    padding-top:5em;
    
}
.img1{
    width:25em;
    height:23em ;
    padding-left: 1em;
    
}img{
    width:17em;
    height:17em ;
    margin-left:5em;
    
    
}
.align{
    align-items: center;
}.service{
    text-align:center ;
}.sec2{
    
    padding:2em;
    
}.card-title {
    text-align: center;
}.card{
    padding:1em;
}.rowfour{
    padding-top: 1em;
}.sec3{
    background-color:white;
    padding:2em;
}.sec3a1{
    text-decoration: none;
    color: black;
}.text-area{
    height:10em;
}.sign-in{
    text-align: center;

}.sec4{
    background-color: rgb(237, 236, 243);
    padding:2em;
}.card{
    margin-top: 1em;
}
.ftri{
    margin-left:1em ;
    color: white;
}.footer{
    background-color: black;
    padding:1em;
}.ftra{
    text-decoration: none;
}.ftrh6{
    color: white;
    
}.btrp1{
    color: white;
    text-align: center;
}
    